* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-color {
  background: linear-gradient(to bottom, #8e2de2, #c300c8);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.btn-color:hover {
  transform: scale(1.05);
}