body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fafc;
  background-image: url(./assets/banner_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.btn-color {
  background: linear-gradient(to bottom, #8e2de2, #c300c8);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.btn-style510 {
  btn-color: #5e5e5e;
  btn-hover-color: #dd6395;
  position: relative;
  background-color: btn-color;
  border-color: btn-color;
  color: #fff;
  overflow: hidden;
  &::before,
  &::after {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100px) skewX(-15deg);
    content: "";
  }
  &::before {
    width: 60px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(30px);
    opacity: 0.5;
  }
  &::after {
    width: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(5px);
  }
  &:hover {
    background-color: btn-hover-color;
    border-color: btn-hover-color;
    &::before {
      opacity: 1;
    }
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: all 0.9s ease;
    }
  }
}
.nav-link:hover {
  color: #c300c8 !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* keeps dropdown aligned */
}
.dropdown-toggle::after {
  display: none !important;
}
/* logo fixing small screen */
@media (max-width: 463px) {
  #logoFix {
    height: 30px;
  }
}
.phNumber {
  text-decoration: none;
  color: #0a2c60;
  font-weight: 600;
}
.phNumber:hover {
  color: #c300c8;
}

@media (min-width: 493px) and(max-width:512px) {
  .phone {
    padding: 0;
  }
}
@media (min-width: 457px) and (max-width: 492px) {
  .phone {
    margin-top: 80px;
    margin-right: 230px;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 456px) {
  .phone {
    margin: 80px auto;
    margin-left: -180px;
    display: block;
  }
}
@media (max-width: 456px) {
  .exploreBtn {
    margin-left: 60px;
  }
}
@media (min-width: 457px) and (max-width: 512px) {
  .phone {
    margin-left: -20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .phone {
    margin-top: 80px;
    margin-left: -230px;
  }
}

 .rotate-center {
  display: inline-block;                 
  animation: rotate-center 10s linear infinite;
}

@keyframes rotate-center {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}
@media (min-width: 375px) and (max-width:686px){
    .hid{
        display: none;
    }
}
.navbar-toggler-icon {
  background-image: none !important; 
}


#homeMarquee {
  background-image: url(./assets/compBg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
}

.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: flex;
  gap: 40px;
  animation: scrollLoop 20s linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused; 
}
.marquee-content:hover img {
  filter: grayscale(0%);        
  transition: filter 0.3s ease;
}

.marquee-content img {
  height: 80px;
  filter: grayscale(100%);
}

@keyframes scrollLoop {
  0%   { transform: translateX(0); }
  40%  { transform: translateX(-20%); }    
  60%  { transform: translateX(-20%); }    
  80%  { transform: translateX(-50%); }    
  100% { transform: translateX(-50%); }    
}